.el-menu {
  border-right: none !important;
}

.el-table tr {
  background-color: $page-bg-highlight-color !important;
}

.el-table th.el-table__cell {
  background-color: $page-bg-color !important;
}

.el-table .cell {
  padding: 0 0 0 40px !important;
}

.el-row {
  margin: 0 !important;
}

.el-table__row.current-row td{
  background-color: #9ebdff !important;
}