
@import './variables.scss';
@import './reset.scss';
@import './element-reset.scss';
@import './page-ui.scss';

@for $i from 1 through 30 {
  .p-#{$i} {
    padding: #{$i}px;
  }
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .m-#{$i} {
    margin: #{$i}px;
  }
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}


#nprogress .bar {
  background: $primary-color !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color !important;
}